#filters {
	padding: 20px 10px;
	background: #fefefe;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}
.actions-bar > button,
#filters button {
	border: 1px solid #ccc;
	padding: 2px 8px;
	border-radius: 3px;
}
#filters button {
	margin-right: 10px;
}

.todo-item {
	padding-left: 25px;
    padding: 0;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-bottom: 1px solid #ccc;
}
#todo-list {
	padding: 15px;
}
/*.todo-item input {
	float: left;
	margin-top: .9em;
	margin-right: .5em;
}*/
/*.todo-item p {
	background: #efefef;
	margin: 0;
	padding: .5em;
}*/
/*.todo-item.done {
	text-decoration: line-through;
}
.todo-item.done p {
	color: #ccc;
}*/

.todo-item button {
	float: right;
}